aiohttp
asn1crypto
async-timeout
certifi
cffi
chardet
click
cryptography
discord.py
flake8
Flask
gunicorn
heroku
idna
itsdangerous
Jinja2
MarkupSafe
mccabe
multidict
oauthlib
pew
pip
pipenv
psutil
pycodestyle
pycparser
pyflakes
pymongo
PyNaCl
pyOpenSSL
PySocks
python-dateutil
requests
requests-oauthlib
setuptools
six
tweepy
urllib3
virtualenv
virtualenv-clone
websockets
Werkzeug
yarl
